---
---
<!DOCTYPE html>
<html data-page-type='achievement'>
  <head>
    <title>Google Sheets API Quickstart</title>
    <link rel="stylesheet" href="style/default.css">
    <link rel="stylesheet" href="style/default_add.css">
    <meta charset='utf-8' />
    <script type="text/javascript" charset="UTF-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="./script/default.js"></script>
    <style>
      .papers_citing_table td a {
        text-decoration: underline;
      }
      .papers_citing_table tr:first-child td:nth-child(1) a, .papers_citing_table tr:first-child td:nth-child(4) a{
        pointer-events:none;
        text-decoration: none;
        color:black;
      }
    </style>
  </head>
  <body>
  {% include header.html %}

<div class="content__wrapper">
  <div class="main__contents tabular">
    <div class="main__contents-servece">
      <h3 class="main__content-title">論文</h3>
      <div class="section-wrapper">
        <div id="def" class="abo">
          <table class="papers_citing_table" id="table">
          <tbody>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
  </body>
</html>