---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DBCLS ｜ ライフサイエンス統合データベースセンター</title>
	<link rel="stylesheet" href="default.css">
</head>
<body>
{% include header.html %}
	<h1>ここはtopページです。</h1>

	<h2>news</h2>
	<div class="top__news-section">
		<ul>
			{% for post in site.categories.ja limit:5 %}
				<li class='news__individual'>
						{{post.date | date_to_string}}
					<a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
					<p class='news__desc-beginning'>{{post.content | slice: 0, 50 | strip_html}}…</p>
					{% include post_meta.html %}
				</li>
			{% endfor %}
		</ul>
		<a href="news.html">more</a>
	</div>
</body>
</html>