---
---
<!DOCTYPE html>
<html lang="en" data-page-type="services">
<head>
	<meta charset="UTF-8">
	<title>サービス ｜ DBCLS</title>
	<link rel="stylesheet" href="../style/default.css">
	<link rel="stylesheet" href="style/default_add.css">
	<link rel="stylesheet" href="../style/github-markdown.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="../script/marked.min.js"></script>
</head>
<body>
{% include header_en.html %}
<div class="content__wrapper">
	<div id="subWrap">
		<div class="sub__navigation">
			<h2 class="page-title">Services</h2>
			<div class="outline-list-category">
				<div id="service-on" class="outline-list-category__wrapper">
					<div class="outline-list-category__title">Service List</div>
					<div class="tag_panel">
						<div class="tag_row" id="tag_panel_category">
							<div class="tag_panel_header">Category</div>
							<div class="tag_element all off" data-tagkey="category_all">All</div>
							<div class="tag_element dna" data-tagkey="category_featured">DNA & RNA</div>
							<div class="tag_element structures off" data-tagkey="category_dna">Structures & Proteins</div>
							<div class="tag_element text-mining off" data-tagkey="category_structures">Text-mining & Contents</div>
							<div class="tag_element db off" data-tagkey="category_textmining">DB integration</div>
						</div>
					</div>
					<div class="tag_panel">
						<div class="tag_row" id="tag_panel_category">
							<div class="tag_panel_header">Type</div>
							<div class="tag_element all off" data-tagkey="category_all">All</div>
							<div class="tag_element database" data-tagkey="category_featured">Database</div>
							<div class="tag_element tool off" data-tagkey="category_dna">Tool</div>
							<div class="tag_element download off" data-tagkey="category_structures">Download</div>
							<div class="tag_element submission off" data-tagkey="category_textmining">Submission</div>
						</div>
					</div>
				</div>
				<div class="outline-list-category__wrapper">
					<div class="outline-list-category__title off">Publications</div>
				</div>
				<div class="outline-list-category__wrapper">
					<div class="outline-list-category__title off" id="papers_citing_dbcls_services">Papers citing DBCLS services</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main__contents main__contents__services">
		<div class="main__contents-servece">
			<!--h3 class="main__content-title content-title__services">コンテンツ</h3-->
			<div class="section-wrapper">
				<div class="service__wrapper wrapper-type-box" id="service_list">
				</div>

				<div id="loader-bg">
				  <div id="loader">
				    <p>Now Loading...</p>
				  </div>
				</div>
				<table class="papers_citing_table" id="table">
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--div class="main__contents main__contents__services">
		<div class="main__contents-servece">
			<h3 class="main__content-title content-title__services">コンテンツ</h3>
			<div class="section-wrapper wrapper-type-box">
			<div class="service__wrapper">
				<article class="article__section contener-type-box">
					<div id="repos_name0" class="repos_name">
						<div class="name">統合TV</div>
						<div class="keyword">だれでも自由に閲覧・利用できるように、Web上にて無料で公開しているライフサイエンス分野の画像・イラスト集です。</div>
						<div class="btn-box">
							<a href="services_in" class="page_btn more_btn">詳細</a>
							<a href="http://togotv.dbcls.jp/ja/index.html" class="page_btn access_btn">アクセス</a>
						</div>				
					</div>
					<div id="repos_image0" class="repos_image"><img src="./img/service_assets/togotv.png" art="" class="object-fit-img img_services"></div>
				</article>
				<article class="article__section contener-type-box">
					<div id="repos_name0" class="repos_name">
						<div class="name">ライフサイエンス新着論文レビュー</div>
						<div class="keyword">だれでも自由に閲覧・利用できるように、Web上にて無料で公開しているライフサイエンス分野の画像・イラスト集です。</div>
						<div class="btn-box">
							<a href="#" class="page_btn more_btn">詳細</a>
							<a href="http://first.lifesciencedb.jp/" class="page_btn access_btn">アクセス</a>
						</div>				
					</div>
					<div id="repos_image0" class="repos_image"><img src="./img/service_assets/first-authors.png" art="" class="object-fit-img"></div>
				</article>
				<article class="article__section contener-type-box">
					<div id="repos_name0" class="repos_name">
						<div class="name">ライフサイエンス領域融合レビュー</div>
						<div class="keyword">だれでも自由に閲覧・利用できるように、Web上にて無料で公開しているライフサイエンス分野の画像・イラスト集です。</div>
						<div class="btn-box">
							<a href="#" class="page_btn more_btn">詳細</a>
							<a href="http://leading.lifesciencedb.jp/" class="page_btn access_btn">アクセス</a>
						</div>				
					</div>
					<div id="repos_image0" class="repos_image"><img src="./img/service_assets/leading-authors.png" art=""></div>
				</article>
			</div>
			<h3 class="main__content-title content-title__services">塩基配列</h3>
			<div class="section-wrapper wrapper-type-box">
				<article class="article__section contener-type-box">
					<div id="repos_name0" class="repos_name">
						<div class="name">CRISPRdirect</div>
						<div class="keyword">だれでも自由に閲覧・利用できるように、Web上にて無料で公開しているライフサイエンス分野の画像・イラスト集です。</div>
						<div class="btn-box">
							<a href="#" class="page_btn more_btn">詳細</a>
							<a href="http://crispr.dbcls.jp/" class="page_btn access_btn">アクセス</a>
						</div>				
					</div>
					<div id="repos_image0" class="repos_image"><img src="./img/service_assets/CRISPRlogo_white.png" art=""></div>
				</article>
			</div>
			<h3 class="main__content-title content-title__services">遺伝子発現</h3>
			<div class="section-wrapper wrapper-type-box">
				<article class="article__section contener-type-box">
					<div id="repos_name0" class="repos_name">
						<div class="name">RefEx</div>
						<div class="keyword">だれでも自由に閲覧・利用できるように、Web上にて無料で公開しているライフサイエンス分野の画像・イラスト集です。</div>
						<div class="btn-box">
							<a href="#" class="page_btn more_btn">詳細</a>
							<a href="http://refex.dbcls.jp/" class="page_btn access_btn">アクセス</a>
						</div>				
					</div>
					<div id="repos_image0" class="repos_image"><img src="./img/service_assets/RefEx.png" art=""></div>
				</article>
			</div>
			<h3 class="main__content-title content-title__services">塩基配列</h3>
			<div class="section-wrapper wrapper-type-box">
				<article class="article__section contener-type-box">
					<div id="repos_name0" class="repos_name">
						<div class="name">OReFiL</div>
						<div class="keyword">だれでも自由に閲覧・利用できるように、Web上にて無料で公開しているライフサイエンス分野の画像・イラスト集です。</div>
						<div class="btn-box">
							<a href="#" class="page_btn more_btn">詳細</a>
							<a href="http://orefil.dbcls.jp/" class="page_btn access_btn">アクセス</a>
						</div>				
					</div>
					<div id="repos_image0" class="repos_image"><img src="./img/service_assets/OReFiL_banner.png" art=""></div>
				</article>
			</div>
			<h3 class="main__content-title content-title__services">セマンティック・ウェブ</h3>
			<div class="section-wrapper wrapper-type-box">
				<article class="article__section contener-type-box">
					<div id="repos_name0" class="repos_name">
						<div class="name">TogoWS</div>
						<div class="keyword">だれでも自由に閲覧・利用できるように、Web上にて無料で公開しているライフサイエンス分野の画像・イラスト集です。</div>
						<div class="btn-box">
							<a href="#" class="page_btn more_btn">詳細</a>
							<a href="http://togows.org/" class="page_btn access_btn">アクセス</a>
						</div>				
					</div>
					<div id="repos_image0" class="repos_image"><img src="./img/service_assets/togo-ws.png" art=""></div>
				</article>
			</div-->
		</div>
	</div>
</div>
{% include footer.html %}
<script src="script/default.js"></script>
</body>
</html>