---
---
<!DOCTYPE html>
<html lang="ja" data-page-type="services">
<head>
	<meta charset="UTF-8">
	<title>サービス ｜ DBCLS</title>
	<link rel="stylesheet" href="style/default.css">
	<link rel="stylesheet" href="style/github-markdown.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="script/marked.min.js"></script>
</head>
<body>
{% include header.html %}
<div class="wrapper">
	<div class="sidebar-list">
		<h2>Services</h2>
		<section>
			<h3>コンテンツ</h3>
			<a href="#repos_name0" class="repos_name">統合TV</a>
			<a href="#repos_name0" class="repos_name">ライフサイエンス 新着論文レビュー</a>
			<a href="#repos_name0" class="repos_name">ライフサイエンス 領域融合レビュー</a>
			<a href="#repos_name0" class="repos_name">BodyParts3D/Anatomograph</a>
			<a href="#repos_name0" class="repos_name">Togo Picture Gallery</a>
			<a href="#repos_name0" class="repos_name">ライフサイエンスQA</a>
		</section>
		<section>
			<h3>塩基配列</h3>
			<a href="#repos_name0" class="repos_name">DBCLS Galaxy</a>
			<a href="#repos_name0" class="repos_name">DBCLS SRA</a>
			<a href="#repos_name0" class="repos_name">CRISPRdirect</a>
			<a href="#repos_name0" class="repos_name">統合遺伝子検索GGRNA</a>
			<a href="#repos_name0" class="repos_name">高速塩基配列GGGnome</a>
			<a href="#repos_name0" class="repos_name">Gendoo</a>
		</section>
	</div>
	<div class="contents-list">
		<div class="contents-list__title">コンテンツ</div>
		<div class="service-content__wrapper">
			<div class="repos_individual_wrapper">
				<div id="repos_name0" class="repos_name"><p>統合TV</p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
				<div id="repos_image0" class="repos_image"></div>
			</div>
			<div class="repos_individual_wrapper">
				<div id="repos_name0" class="repos_name"><p>ライフサイエンス 新着論文レビュー</p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
				<div id="repos_image0" class="repos_image"></div>
			</div>
			<div class="repos_individual_wrapper">
				<div id="repos_name0" class="repos_name"><p>ライフサイエンス 領域融合レビュー</p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
				<div id="repos_image0" class="repos_image"></div>
			</div>
			<div class="repos_individual_wrapper">
				<div id="repos_name0" class="repos_name"><p>BodyParts3D/Anatomograph</p></div>
				<div id="repos_image0" class="repos_image"></div>
			</div>
			<div class="repos_individual_wrapper">
				<div id="repos_name0" class="repos_name"><p>Togo Picture Gallery</p></div>
				<div id="repos_image0" class="repos_image"></div>
			</div>
			<div class="repos_individual_wrapper">
				<div id="repos_name0" class="repos_name"><p>ライフサイエンスQA</p></div>
				<div id="repos_image0" class="repos_image"></div>
			</div>
		</div>
		<div class="contents-list__title">塩基配列</div>
		<div class="service-content__wrapper"></div>
		<div class="contents-list__title">遺伝子発現</div>
		<div class="service-content__wrapper"></div>
		<div class="contents-list__title">文献・テキストマイニング</div>
		<div class="service-content__wrapper"></div>
		<div class="contents-list__title">セマンティック・ウェブ</div>
		<div class="service-content__wrapper"></div>
		<!--div class="service__wrapper">
		</div-->
	</div>
</div>
{% include footer.html %}
<script src="script/default.js"></script>
</body>
</html>