---
---
<!DOCTYPE html>
<html lang="en" data-page-type="services">
<head>
	<title>Services ｜ DBCLS</title>
	<meta charset="UTF-8">
	<link href="style/default.css" rel="stylesheet">
	<link href="style/github-markdown.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js">
	</script>
	<script src="script/marked.min.js">
	</script>
	<script src="script/ofi.min.js">
	</script>
	<style>
	        .papers_citing_table td a {
	          text-decoration: underline;
	        }
	</style>
</head>
<body>
	{% include header_en.html %}
	<div class="content__wrapper">
		<div id="subWrap">
			<div class="sub__navigation">
				<h2 class="page-title">Services</h2>
				<div class="outline-list-category">
					<div class="outline-list-category__wrapper" id="service-on">
						<div class="outline-list-category__title">
							Services' list
						</div>
						<div class="tag_panel">
							<div class="tag_row" id="tag_panel_category">
								<div class="tag_panel_header">
									Category
								</div>
								<div class="tag_element all off" data-tagkey="category_all">
									All
								</div>
								<div class="tag_element dna" data-tagkey="category_featured">
									DNA & RNA
								</div>
								<div class="tag_element structures off" data-tagkey="category_dna">
									Structures & Proteins
								</div>
								<div class="tag_element text-mining off" data-tagkey="category_structures">
									Text-mining & Contents
								</div>
								<div class="tag_element db off" data-tagkey="category_textmining">
									DB integration
								</div>
							</div>
						</div>
						<div class="tag_panel">
							<div class="tag_row" id="tag_panel_category">
								<div class="tag_panel_header">
									Type
								</div>
								<div class="tag_element all off" data-tagkey="category_all">
									All
								</div>
								<div class="tag_element database" data-tagkey="category_featured">
									Database
								</div>
								<div class="tag_element tool off" data-tagkey="category_dna">
									Tool
								</div>
								<div class="tag_element download off" data-tagkey="category_structures">
									Download
								</div>
								<div class="tag_element submission off" data-tagkey="category_textmining">
									Submission
								</div>
							</div>
						</div>
					</div>
					<div class="outline-list-category__wrapper">
						<div class="outline-list-category__title off" id="papers_citing_dbcls_services">
							Achievement
						</div>
					</div>
					<div class="outline-list-category__wrapper">
						<div class="outline-list-category__title off">
							References
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main__contents main__contents__services">
			<div class="main__contents-servece">
				<!--h3 class="main__content-title content-title__services">コンテンツ</h3-->
				<div class="section-wrapper">
					<div class="service__wrapper wrapper-type-box" id="service_list"></div>
					<div id="loader-bg">
						<div id="loader">
							<p>Now Loading...</p>
						</div>
					</div>
					<table class="papers_citing_table" id="table">
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>{% include footer_en.html %} 
	<script src="script/default.js">
	</script>
</body>
</html>