---
---
<!DOCTYPE html>
<html lang="ja" data-page-type="services_in">
<head>
	<meta charset="UTF-8">
	<title>サービス ｜ DBCLS</title>
	<link rel="stylesheet" href="style/default.css">
	<link rel="stylesheet" href="style/default_add.css">
	<link rel="stylesheet" href="style/github-markdown.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="script/marked.min.js"></script>
</head>
<body>
{% include header.html %}
<div class="content__wrapper">
<div class="service__wrapper" style="display: none;"></div>
	<div class="sub__navigation">
		<h2 class="page-title">Services</h2>
		<ul class="sub__navigation-wrapper">
			<li class="sub__navigation-title sub-nav-title__services">コンテンツ
				<ul class="sub__navigation-contents sub-nav-con__services">
					<li><a href="#repos_name0" class="repos_name">統合TV</a></li>
					<li><a href="#repos_name0" class="repos_name">ライフサイエンス 新着論文レビュー</a></li>
					<li><a href="#repos_name0" class="repos_name">ライフサイエンス 領域融合レビュー</a></li>
					<li><a href="#repos_name0" class="repos_name">BodyParts3D/Anatomograph</a></li>
					<li><a href="#repos_name0" class="repos_name">Togo Picture Gallery</a></li>
					<li><a href="#repos_name0" class="repos_name">ライフサイエンスQA</a></li>
				</ul>
			</li>
			<li class="sub__navigation-title sub-nav-title__services">塩基配列
				<ul class="sub__navigation-contents sub-nav-con__services">
					<li><a href="#repos_name0" class="repos_name">DBCLS Galaxy</a></li>
					<li><a href="#repos_name0" class="repos_name">DBCLS SRA</a></li>
					<li><a href="#repos_name0" class="repos_name">CRISPRdirect</a></li>
					<li><a href="#repos_name0" class="repos_name">統合遺伝子検索GGRNA</a></li>
					<li><a href="#repos_name0" class="repos_name">高速塩基配列GGGnome</a></li>
					<li><a href="#repos_name0" class="repos_name">Gendoo</a></li>
				</ul>
			</li>
			<li class="sub__navigation-title sub-nav-title__services">遺伝子発現
				<ul class="sub__navigation-contents sub-nav-con__services">
					<li><a href="#repos_name0" class="repos_name">RefEx</a></li>
					<li><a href="#repos_name0" class="repos_name">ChIP-Atlas</a></li>
					<li><a href="#repos_name0" class="repos_name">AOE(All Of gene Expression)</a></li>
				</ul>
			</li>
			<li class="sub__navigation-title sub-nav-title__services">文献・テキストマイニング
				<ul class="sub__navigation-contents sub-nav-con__services">
					<li><a href="#repos_name0" class="repos_name">Allie</a></li>
					<li><a href="#repos_name0" class="repos_name">Colil</a></li>
					<li><a href="#repos_name0" class="repos_name">inMeXes</a></li>
					<li><a href="#repos_name0" class="repos_name">OReFiL</a></li>
					<li><a href="#repos_name0" class="repos_name">PubAnnotation</a></li>
					<li><a href="#repos_name0" class="repos_name">TogoDoc Suite</a></li>
					<li><a href="#repos_name0" class="repos_name">PubCaseFinder</a></li>
				</ul>
			</li>
			<li class="sub__navigation-title sub-nav-title__services">セマンティック・ウェブ
				<ul class="sub__navigation-contents sub-nav-con__services">
					<li><a href="#repos_name0" class="repos_name">OntoFinder & OntoFactory</a></li>
					<li><a href="#repos_name0" class="repos_name">TogoWS</a></li>
					<li><a href="#repos_name0" class="repos_name">TogoDB</a></li>
					<li><a href="#repos_name0" class="repos_name">TogoGenome</a></li>
					<li><a href="#repos_name0" class="repos_name">TogoTable</a></li>
					<li><a href="#repos_name0" class="repos_name">D2RQ Mapper</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="main__contents">
		<div class="main__contents-servece">
		<div>
			統合TVとは
データベースやウェブツールの使い方を動画で配信するサービスです。提供している動画は1100本を超えています。(2016年10月末現在)

( http://togotv.dbcls.jp/ )

togotv2015togotv2015_movie

統合TVの特徴
はじめての方でも簡単に
DBやウェブツールに慣れていなくても、動画で操作方法を解説しています。
無償で使えます
紹介しているほとんどのDB・ウェブツールは無償で使える有用なものです。
コツや裏技も
基本的な使い方はもちろん、書籍やウェブサイトでは見落とされがちな、ちょっとしたコツや裏技も紹介します。
どんな環境でも再生
YouTubeが見れるなら統合TVも視聴できます。
初学者から本格的な研究者まで
学部生や修士課程の大学院生には、レベルに応じた解説を。これからDBやウェブツールやツールを使い倒して実験や研究を効率的に進めたいという人には、本格的なバイオインフォマティクス解析の入門編・発展編も。
合わせ技も可能
各番組をユーザーが必要に応じて自由に検索して組み合わせて、「合わせ技」として自在に応用可
能です。
コンテンツにDOIを付与
統合TVに掲載されているコンテンツについてご引用いただく際に、恒久的な URL として DOI を使用することができます。
AJACS講習会の資料・テキストとの連携
過去の講習会の資料・テキストと動画が同一画面で閲覧できるようになり、受講生の復習のみならず、初学者の学習教材としてご活用いただけます。
「ライフサイエンス新着論文レビュー」の記事へのリンクが付きました
その研究がどのような分野のデータベース・ウェブツールを活用して行われたかを知り、それらの使い方についてより具体的な活用例をイメージしながら学習することができます。
生命科学分野のイラストが閲覧できるようになりました
「Togo picture gallery」で公開されていた誰でも自由に利用可能なライフサイエンス分野のイラストが､統合TVから閲覧､利用することができるようになりました｡
NBDC 生命科学系データベースアーカイブに収載されている「生物アイコン」で提供されている真正細菌から動植物を含む200種類以上の生物種のアイコン(イラスト)についても､同時に閲覧､利用できるようになりました｡
togotv2015_ajacs

利用例
動画を見ながらデータベース、ウェブツールの使い方を学ぶ。
講義や後輩指導、初学者のための教材として使う。
バイオインフォマティクス解析の基礎を学び実践する。
今後の開発予定
現場のニーズに応じたツールの紹介 （随時、リクエスト受付中！）、技術セミナーなどの専門教育用コンテンツの拡充、DBカタログなどとの連携などをすすめます。生命科学分野の裾野を広げ、日々の実験や研究を効率的に進展させるための初学者教育・人材育成に資するポータルサイトとして、誰でも自由に使える高品質なコンテンツを開発していきます。
参考文献
Shin Kawano, Hiromasa Ono, Toshihisa Takagi, Hidemasa Bono. Tutorial videos of bioinformatics resources: online distribution trial in Japan named TogoTV. Brief Bioinform (2012) 13 (2): 258-268. doi: 10.1093/bib/bbr039
download as a pdf file PDF形式でこのページをダウンロードする
		</div>
		</div>
	</div>
</div>
{% include footer.html %}
<script src="script/default.js"></script>
</body>
</html>