@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800");
@import url(font-awesome.css);
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select, textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0;
  text-align: left; }

/* default */
body {
  font-family: 'Muli', sans-serif;
  width: 100%; }
  body a {
    text-decoration: none; }

.page-title {
  color: #004098;
  width: 31px;
  font-size: 21px;
  font-weight: 800;
  padding-bottom: 3px;
  border-bottom: 3px solid #004098; }

.page_btn {
  color: #004098;
  display: flex;
  align-items: center;
  font-size: 10px;
  padding: 3px 7px;
  border: 1px solid #004098;
  border-radius: 10px;
  background: white; }
  .page_btn:before {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    margin-right: 5px;
    background-image: url(../img/icon_more.svg); }
  .page_btn.more_btn {
    width: 56px; }
  .page_btn.access_btn {
    width: 63px;
    margin-top: 7px; }
  .page_btn.pdf_btn {
    width: 51px;
    height: 19px; }
    .page_btn.pdf_btn:before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      margin-right: 3px;
      background: url(../img/icon_pdf.svg) no-repeat; }

.sub__content-title {
  font-size: 18px;
  margin-bottom: 10px; }
  .sub__content-title:before {
    content: "　";
    background: no-repeat url(../img/icon_sub-title.svg); }

.content__wrapper {
  width: 1024px;
  margin: 0 auto;
  display: flex; }
  .content__wrapper .sub__navigation {
    padding-top: 156px;
    width: 242px;
    color: #004098; }
    .content__wrapper .sub__navigation .sub__navigation-wrapper {
      margin-top: 14px; }
      .content__wrapper .sub__navigation .sub__navigation-wrapper .sub__navigation-title {
        font-size: 14px;
        font-weight: 600; }
        .content__wrapper .sub__navigation .sub__navigation-wrapper .sub__navigation-title.on a {
          color: #004098; }
        .content__wrapper .sub__navigation .sub__navigation-wrapper .sub__navigation-title.off a {
          color: #9E9E9E; }
        .content__wrapper .sub__navigation .sub__navigation-wrapper .sub__navigation-title .sub__navigation-contents {
          font-size: 12px;
          font-weight: 500; }
  .content__wrapper .main__contents {
    padding-top: 160px;
    width: 782px; }
    .content__wrapper .main__contents .main__content-title__wrapper {
      border-bottom: 1px solid #9E9E9E;
      margin-bottom: 28px;
      position: relative;
      width: 782px; }
      .content__wrapper .main__contents .main__content-title__wrapper .main__content-title {
        color: #004098;
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 3px; }
        .content__wrapper .main__contents .main__content-title__wrapper .main__content-title.post__title-individual {
          color: #333333; }

.post__date {
  font-size: 14px;
  color: #333333; }
  .post__date-individual {
    position: absolute;
    padding-top: 5px; }

.post__tags-individual {
  position: absolute;
  left: 98px;
  padding-top: 5px; }

.post__title {
  font-size: 14px;
  font-weight: 700;
  color: #333333; }

.post__desc-beginning {
  font-size: 12px;
  color: #333333; }

.post__individual {
  margin-top: 23px;
  color: #333333; }

.post__main-text {
  margin-top: 69px;
  color: #333333;
  font-size: 15px;
  line-height: 2em; }

.PageNavigation {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  margin-top: 212px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  .PageNavigation .icon_post_pagenation {
    width: 7px;
    height: 10px; }
  .PageNavigation .pre_post_title a {
    color: #333333;
    margin-left: 5px; }
  .PageNavigation .next_post_title a {
    color: #333333;
    margin-right: 5px; }

/* header */
.side-nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 222px; }

.header {
  width: 100%;
  position: fixed;
  border-top: 5px solid #004098;
  z-index: 1;
  background-color: white;
  top: 0; }

.header__language-wrapper {
  width: 1024px;
  margin: 0 auto;
  position: relative;
  margin-top: 8px;
  transform: translateY(5px); }
  .header__language-wrapper .qtrans_language_chooser {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 5px;
    top: -9px; }
    .header__language-wrapper .qtrans_language_chooser li {
      font-size: 14px; }

.lang-ja span,
.lang-en span {
  color: #004098; }

#header__languages-ja .lang-en {
  cursor: pointer; }

#header__languages-ja .lang-ja {
  margin-left: 15px;
  opacity: 0.5;
  pointer-events: none; }

#header__languages-en .lang-ja {
  margin-left: 15px;
  cursor: pointer; }

#header__languages-en .lang-en {
  opacity: 0.5;
  pointer-events: none; }

.header__nav {
  width: 1024px;
  margin: 0 auto 4px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__nav .header__nav__contents {
    list-style: none; }
    .header__nav .header__nav__contents a {
      text-decoration: none;
      color: #004098;
      font-weight: 700;
      font-size: 14px; }
      .header__nav .header__nav__contents a img {
        width: 105px;
        height: 55px; }
  .header__nav .header__nav__sns-twitter {
    color: #004098; }
  .header__nav .header__nav__sns-feed {
    color: #004098; }
  .header__nav .header__nav__search {
    position: relative; }
    .header__nav .header__nav__search .search__wrapper {
      width: 217px;
      height: 22px;
      border-radius: 15px;
      border: 1px solid #004098;
      padding-left: 10px; }
      .header__nav .header__nav__search .search__wrapper:focus {
        outline: none; }
    .header__nav .header__nav__search .search__submit {
      border: none;
      position: absolute;
      top: 3px;
      right: 8px;
      cursor: pointer; }
      .header__nav .header__nav__search .search__submit:focus {
        outline: none; }
    .header__nav .header__nav__search:after {
      font-family: fontawesome;
      content: '\f002';
      position: absolute;
      top: 3px;
      right: 8px;
      pointer-events: none;
      color: #004098;
      opacity: 0.8; }

/* footer */
footer {
  color: #14274B;
  width: 100%;
  background: #E8EDED;
  margin-top: 70px; }
  footer .footer__wrapper {
    padding-top: 35px;
    width: 1024px;
    margin: 0 auto; }
    footer .footer__wrapper .footer__wrapper__contents {
      display: flex;
      justify-content: space-between; }
      footer .footer__wrapper .footer__wrapper__contents .footer-title {
        font-weight: 800;
        font-size: 14px; }
      footer .footer__wrapper .footer__wrapper__contents .footer__address {
        width: 258px;
        margin-top: 0; }
        footer .footer__wrapper .footer__wrapper__contents .footer__address .address__list {
          display: inline-block;
          margin-top: 15px; }
          footer .footer__wrapper .footer__wrapper__contents .footer__address .address__list li {
            padding-bottom: 21px;
            font-size: 12px;
            line-height: 1.5em;
            width: 431px; }
            footer .footer__wrapper .footer__wrapper__contents .footer__address .address__list li p {
              line-height: 1.8em; }
      footer .footer__wrapper .footer__wrapper__contents .footer__links .links__wrapper {
        margin-top: 12px;
        width: 260px; }
        footer .footer__wrapper .footer__wrapper__contents .footer__links .links__wrapper .individual_link a {
          font-size: 12px;
          text-decoration: underline;
          line-height: 1.5em;
          color: #14274B; }
      footer .footer__wrapper .footer__wrapper__contents .footer__info {
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        padding-left: 40px; }
        footer .footer__wrapper .footer__wrapper__contents .footer__info .footer__organism .footer__logo {
          width: 108px;
          height: auto;
          display: block;
          margin: 0 auto; }
        footer .footer__wrapper .footer__wrapper__contents .footer__info .footer__organism .footer__organism-text {
          margin-top: 15px;
          margin-bottom: 20px; }
          footer .footer__wrapper .footer__wrapper__contents .footer__info .footer__organism .footer__organism-text .footer__organism-sub {
            font-size: 12px;
            line-height: 1.3em;
            text-align: center; }
          footer .footer__wrapper .footer__wrapper__contents .footer__info .footer__organism .footer__organism-text .footer__organism-main {
            font-size: 15px;
            font-weight: 700;
            letter-spacing: -0.5px; }
        footer .footer__wrapper .footer__wrapper__contents .footer__info .footer__partners .footer__logo-wrapper {
          margin-top: 19px;
          width: 290px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between; }
          footer .footer__wrapper .footer__wrapper__contents .footer__info .footer__partners .footer__logo-wrapper li {
            padding-bottom: 10px; }
          footer .footer__wrapper .footer__wrapper__contents .footer__info .footer__partners .footer__logo-wrapper .logo__jbi {
            height: 32px; }
          footer .footer__wrapper .footer__wrapper__contents .footer__info .footer__partners .footer__logo-wrapper .logo__ddbj {
            height: 42px;
            margin-left: 0; }
          footer .footer__wrapper .footer__wrapper__contents .footer__info .footer__partners .footer__logo-wrapper .logo__nbdc {
            height: 44px;
            margin-top: 0; }
          footer .footer__wrapper .footer__wrapper__contents .footer__info .footer__partners .footer__logo-wrapper .logo__pdbj {
            height: 41px;
            margin: 0; }
    footer .footer__wrapper .footer__lisence p {
      font-size: 10px;
      display: flex;
      justify-content: center;
      padding: 40px 0 20px 0; }
      footer .footer__wrapper .footer__lisence p:before {
        content: "";
        width: 81px;
        height: 16px;
        display: block;
        background: url(../img/by.svg) no-repeat; }

/* top-page */
.description__wrapper {
  width: 1024px;
  margin: 0 auto;
  position: relative; }
  .description__wrapper .main__forcused-page__description {
    width: 291px;
    height: 167px;
    position: absolute;
    font-size: 12px;
    top: 335px;
    right: 0;
    font-size: 12px;
    border: 1px solid #004098;
    border-radius: 5px;
    background: white;
    z-index: 300;
    display: none; }
    .description__wrapper .main__forcused-page__description .main__forcused-page__title {
      height: 47px;
      padding: 16px 0 0 12px;
      border-bottom: 1px solid #004098;
      font-size: 15px;
      font-weight: 800; }
    .description__wrapper .main__forcused-page__description .main__forcused-page__text {
      padding: 12px; }

.main-image__wrapper {
  width: 100vw;
  height: 371px;
  background: linear-gradient(to bottom, #00a6f5 0%, #00244e 100%);
  display: flex;
  justify-content: center;
  margin-top: 76px; }
  .main-image__wrapper .main-image__contents {
    position: relative;
    perspective: 1500px;
    width: 1024px;
    height: 371px;
    overflow: hidden; }
    .main-image__wrapper .main-image__contents .panel {
      position: absolute;
      width: 120px;
      height: 120px;
      z-index: 50;
      background-size: cover; }
    .main-image__wrapper .main-image__contents .main-image {
      width: 1024px;
      height: 530px;
      object-fit: cover; }

.top__news-section {
  width: 1024px;
  margin: 78px auto 0; }

.news__individual-wrapper {
  margin-bottom: 30px; }
  .news__individual-wrapper li.post__individual {
    padding-bottom: 20px;
    display: flex; }
    .news__individual-wrapper li.post__individual .post__date {
      width: 110px;
      font-size: 12px; }
    .news__individual-wrapper li.post__individual .post__main-top {
      width: 913px; }
    .news__individual-wrapper li.post__individual .post__main-news {
      width: 700px; }
    .news__individual-wrapper li.post__individual .post__main {
      margin-top: -4px; }
      .news__individual-wrapper li.post__individual .post__main .post__sub-info {
        display: flex;
        align-items: center; }

.post-tags {
  display: flex;
  align-items: center; }
  .post-tags .news__tag-icon {
    width: 10px;
    height: 10px;
    margin-right: 2px; }
  .post-tags a {
    font-size: 12px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4);
    margin-right: 5px; }

/* Events & Research article section style */
.main__contents-public {
  margin-top: 41px; }
  .main__contents-public .public__description {
    font-size: 14px;
    margin-top: 23px; }

.research__description {
  font-size: 14px;
  margin-bottom: 9px;
  line-height: 1.8;
  color: #333333; }

.section-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .section-wrapper .article__section {
    width: 385.5px;
    background-color: #E8EDED;
    margin: 6px 0;
    padding: 16px 15px;
    color: #333333; }
    .section-wrapper .article__section h4 {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 8px;
      color: #004098; }
    .section-wrapper .article__section p {
      font-size: 12px;
      line-height: 1.8em;
      color: #333333; }
    .section-wrapper .article__section .symposium__list,
    .section-wrapper .article__section .biohackason__list {
      margin-top: 15px; }
      .section-wrapper .article__section .symposium__list li,
      .section-wrapper .article__section .biohackason__list li {
        display: flex;
        align-items: center; }
        .section-wrapper .article__section .symposium__list li a,
        .section-wrapper .article__section .biohackason__list li a {
          font-size: 14px; }
        .section-wrapper .article__section .symposium__list li:before,
        .section-wrapper .article__section .biohackason__list li:before {
          content: "・";
          display: block;
          width: 14px;
          height: 25px; }
      .section-wrapper .article__section .symposium__list .biohackason__list,
      .section-wrapper .article__section .biohackason__list .biohackason__list {
        display: flex;
        flex-wrap: wrap;
        width: 234px; }
        .section-wrapper .article__section .symposium__list .biohackason__list li:nth-of-type(2),
        .section-wrapper .article__section .symposium__list .biohackason__list li:nth-of-type(3),
        .section-wrapper .article__section .symposium__list .biohackason__list li:nth-of-type(5),
        .section-wrapper .article__section .symposium__list .biohackason__list li:nth-of-type(6),
        .section-wrapper .article__section .biohackason__list .biohackason__list li:nth-of-type(2),
        .section-wrapper .article__section .biohackason__list .biohackason__list li:nth-of-type(3),
        .section-wrapper .article__section .biohackason__list .biohackason__list li:nth-of-type(5),
        .section-wrapper .article__section .biohackason__list .biohackason__list li:nth-of-type(6) {
          margin-left: 10px; }
    .section-wrapper .article__section .research__list {
      margin-top: 15px; }
      .section-wrapper .article__section .research__list li {
        font-size: 12px; }
        .section-wrapper .article__section .research__list li .reference-ja {
          margin-left: -8px; }
        .section-wrapper .article__section .research__list li a {
          text-decoration: underline;
          color: #004098; }
  .section-wrapper .research__section-ja:nth-of-type(5) {
    margin-left: 397px; }

.outline-list-category__wrapper {
  width: 200px;
  cursor: pointer; }
  .outline-list-category__wrapper .outline-list-category__title {
    color: #004098;
    position: relative;
    padding: 6px 0;
    font-size: 16px;
    font-weight: 800; }
    .outline-list-category__wrapper .outline-list-category__title.off:after {
      opacity: 0.3; }
    .outline-list-category__wrapper .outline-list-category__title.on, .outline-list-category__wrapper .outline-list-category__title:hover, .outline-list-category__wrapper .outline-list-category__title:after {
      opacity: 1.0; }

/* about */
.about-img {
  margin-bottom: 5px; }

.about__description-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #9E9E9E;
  margin-top: 103px; }

.about__description {
  font-size: 14px;
  line-height: 1.8em;
  margin-bottom: 10px;
  color: #333333; }

.about__reference {
  font-size: 14px;
  line-height: 1.8em;
  margin-left: -7px; }

.section-wrapper__adelement {
  padding-bottom: 30px; }
  .section-wrapper__adelement article.article__section__wrapper {
    width: 782px;
    padding: 16px 15px;
    background-color: #E8EDED;
    margin-top: 6px;
    margin-bottom: 6px;
    color: #333333; }
    .section-wrapper__adelement article.article__section__wrapper:nth-of-type(1) {
      margin-top: 0; }
    .section-wrapper__adelement article.article__section__wrapper p {
      font-size: 14px; }
      .section-wrapper__adelement article.article__section__wrapper p.adelement__description {
        margin-top: 13px;
        margin-bottom: 16px;
        line-height: 1.5em;
        color: #333333; }
        .section-wrapper__adelement article.article__section__wrapper p.adelement__description.adelement__description-faq {
          margin-bottom: 0; }
        .section-wrapper__adelement article.article__section__wrapper p.adelement__description.adelement__description-policy {
          margin-bottom: 0; }
      .section-wrapper__adelement article.article__section__wrapper p.funding__price {
        margin-top: 6px; }
    .section-wrapper__adelement article.article__section__wrapper h4 {
      font-size: 14px;
      font-weight: 700;
      display: flex; }
      .section-wrapper__adelement article.article__section__wrapper h4.funding__title {
        font-size: 16px;
        line-height: 1.3em; }
      .section-wrapper__adelement article.article__section__wrapper h4.faq__title:before {
        content: "　";
        background: no-repeat url(../img/icon_question.svg);
        padding-right: 15px;
        padding-bottom: 2px;
        background-size: 20px 20px; }
    .section-wrapper__adelement article.article__section__wrapper h5 {
      font-size: 14px;
      line-height: 1.8em;
      margin: 10px 0;
      color: #333333; }
    .section-wrapper__adelement article.article__section__wrapper ol {
      padding: 0 30px; }
    .section-wrapper__adelement article.article__section__wrapper li {
      font-size: 14px;
      line-height: 1.8em;
      color: #333333; }
    .section-wrapper__adelement article.article__section__wrapper .faq_answer_wrapper {
      display: flex; }
      .section-wrapper__adelement article.article__section__wrapper .faq_answer_wrapper .icon_answer {
        width: 20px;
        height: 20px;
        margin-top: 13px;
        margin-right: 9px; }

.history__wrapper {
  position: relative;
  margin-bottom: 73px; }
  .history__wrapper .history__vertival {
    width: 2px;
    position: absolute;
    left: 46px;
    z-index: -1; }
    .history__wrapper .history__vertival.history__vertival-line {
      height: 401px;
      top: 10px;
      border-left: 2px solid #004098; }
    .history__wrapper .history__vertival.history__vertival-dotted {
      height: 22px;
      top: 401px;
      border-left: 2px dotted #004098; }
  .history__wrapper .table-history tr:nth-of-type(1) td {
    padding-top: 0; }
  .history__wrapper .table-history th {
    font-size: 10px; }
  .history__wrapper .table-history td {
    color: #333333;
    vertical-align: top;
    padding-top: 35px; }
    .history__wrapper .table-history td time {
      font-size: 12px;
      color: #004098;
      font-weight: 700; }
    .history__wrapper .table-history td .history_year {
      margin-right: 13px; }
    .history__wrapper .table-history td .history_month {
      margin-left: 13px; }
    .history__wrapper .table-history td p {
      font-size: 14px;
      margin-left: 53px; }
  .history__wrapper .table-history .history_node {
    width: 10px;
    height: 10px; }

/* event */
.main__contents-event {
  color: #333333; }
  .main__contents-event .news__individual-wrapper {
    padding-bottom: 30px; }

.main__contents-public .public__description {
  color: #333333; }

/*** Services & Member & News */
.tag_panel {
  color: #004098;
  border-top: dashed 0.5px #cccccc;
  padding: 10px 0;
  position: relative; }
  .tag_panel:last-child {
    border-bottom: dashed 0.5px #cccccc; }
  .tag_panel .tag_element {
    cursor: pointer;
    font-size: 14px; }
    .tag_panel .tag_element:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      -o-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px; }
    .tag_panel .tag_element.all:before {
      background-color: #004098; }
    .tag_panel .tag_element.dna:before {
      background-color: #FFA600; }
    .tag_panel .tag_element.structures:before {
      background-color: #80B248; }
    .tag_panel .tag_element.text-mining:before {
      background-color: #B769C2; }
    .tag_panel .tag_element.db:before {
      background-color: #48CFBA; }
    .tag_panel .tag_element.database:before {
      background-color: #0097CF; }
    .tag_panel .tag_element.tool:before {
      background-color: #9791D9; }
    .tag_panel .tag_element.download:before {
      background-color: #B769C2; }
    .tag_panel .tag_element.submission:before {
      background-color: #F77786; }
    .tag_panel .tag_element.term:before {
      background-color: #004098; }
    .tag_panel .tag_element.tag-all:before {
      background-color: #004098; }
    .tag_panel .tag_element.tag-service:before {
      background-color: #0097CF; }
    .tag_panel .tag_element.tag-publishment:before {
      background-color: #48CFBA; }
    .tag_panel .tag_element.tag-event:before {
      background-color: #FFB152; }
    .tag_panel .tag_element.tag-invite:before {
      background-color: #D4CA0D; }
    .tag_panel .tag_element.tag-other:before {
      background-color: #9E9E9E; }
    .tag_panel .tag_element.off {
      opacity: 0.3; }
    .tag_panel .tag_element.on, .tag_panel .tag_element:hover {
      opacity: 1.0; }
  .tag_panel .tag_panel_header {
    font-weight: 800;
    display: block;
    font-size: 14px;
    opacity: 1 !important; }
    .tag_panel .tag_panel_header:before {
      content: none; }

.sub-nav-title__services {
  line-height: 2.5; }

.sub-nav-con__services {
  line-height: 19px; }

.wrapper-type-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  padding-bottom: 60px; }
  .wrapper-type-box .article__section {
    width: 385.5px;
    background-color: #E8EDED;
    margin: -1px;
    align-self: self-end;
    padding: 16px 15px; }
    .wrapper-type-box .article__section.contener-type-box {
      position: relative;
      height: 281px;
      width: 227px;
      border: solid 0.25px #cccccc; }
      .wrapper-type-box .article__section.contener-type-box .repos_image {
        position: absolute;
        height: 120px;
        width: 227px;
        left: 0;
        right: 0;
        top: 0;
        border-top: solid 1px #ccc;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
        background-color: #fff; }
        .wrapper-type-box .article__section.contener-type-box .repos_image img {
          position: absolute;
          margin: auto;
          height: 119px;
          width: 227px;
          object-fit: scale-down;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0; }
          .wrapper-type-box .article__section.contener-type-box .repos_image img.object-fit-img {
            object-fit: scale-down;
            font-family: 'object-fit: scale-down;'; }
      .wrapper-type-box .article__section.contener-type-box .repos_name {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 130px;
        height: 120px;
        width: 192px;
        color: #004098; }
        .wrapper-type-box .article__section.contener-type-box .repos_name .name {
          padding-bottom: 5px;
          font-size: 12px;
          font-weight: 800; }
        .wrapper-type-box .article__section.contener-type-box .repos_name .keyword {
          font-size: 10px;
          padding-bottom: 10px;
          border-bottom: dashed 0.5px #cccccc; }
        .wrapper-type-box .article__section.contener-type-box .repos_name .service_category {
          font-size: 10px; }
          .wrapper-type-box .article__section.contener-type-box .repos_name .service_category:before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            -o-border-radius: 10px;
            -ms-border-radius: 10px;
            border-radius: 10px; }
          .wrapper-type-box .article__section.contener-type-box .repos_name .service_category.dna:before {
            background-color: #FFA600; }
        .wrapper-type-box .article__section.contener-type-box .repos_name .service_type {
          cursor: pointer;
          font-size: 10px; }
          .wrapper-type-box .article__section.contener-type-box .repos_name .service_type:before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            -o-border-radius: 10px;
            -ms-border-radius: 10px;
            border-radius: 10px; }
          .wrapper-type-box .article__section.contener-type-box .repos_name .service_type.db:before {
            background-color: #48CFBA; }
    .wrapper-type-box .article__section.contener-type-box__member .repos_image {
      position: absolute;
      height: 120px;
      width: 227px;
      left: 0;
      right: 0;
      top: 0;
      border-top: solid 1px #ccc;
      border-left: solid 1px #ccc;
      border-right: solid 1px #ccc;
      background-color: #fff; }
      .wrapper-type-box .article__section.contener-type-box__member .repos_image img {
        width: 90px;
        height: 90px;
        border-radius: 45px;
        object-fit: initial; }
    .wrapper-type-box .article__section.contener-type-box__member .repos_name {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 132px;
      height: 147px;
      width: 192px;
      color: #004098; }
      .wrapper-type-box .article__section.contener-type-box__member .repos_name .name {
        font-size: 14px;
        font-weight: 800; }
        .wrapper-type-box .article__section.contener-type-box__member .repos_name .name.en {
          font-size: 12px;
          font-weight: normal;
          margin-top: -6px; }
      .wrapper-type-box .article__section.contener-type-box__member .repos_name span.position:before {
        content: "/";
        padding: 0 5px;
        display: inline-block;
        font-size: 14px; }
      .wrapper-type-box .article__section.contener-type-box__member .repos_name .keyword, .wrapper-type-box .article__section.contener-type-box__member .repos_name .services {
        font-size: 10px; }
      .wrapper-type-box .article__section.contener-type-box__member .repos_name .btn-box {
        bottom: 5px; }
    .wrapper-type-box .article__section h4 {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 8px; }

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

#leader {
  display: none;
  position: fixed;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  text-aline: center;
  z-index: 2; }

.papers_citing_table {
  font-size: 12px; }
  .papers_citing_table tr {
    border-bottom: solid 0.5px #ccc; }
    .papers_citing_table tr td {
      padding-right: 30px;
      padding-bottom: 25px; }

/* Services ***/
/*** Achivement */
.main__contents-servece.achivement .wrapper-type-box {
  width: calc(61% - 10px); }

.content__wrapper .main__contents.tabular {
  width: auto; }
  .content__wrapper .main__contents.tabular .papers_citing_table {
    font-size: 14px;
    line-height: 1.5; }
    .content__wrapper .main__contents.tabular .papers_citing_table tr {
      border-bottom: solid 0.5px #cccccc; }
      .content__wrapper .main__contents.tabular .papers_citing_table tr:first-child {
        border-bottom: solid 1px #888;
        height: 46px;
        font-weight: 800;
        vertical-align: bottom; }
      .content__wrapper .main__contents.tabular .papers_citing_table tr td {
        padding-right: 16px; }

/* achivement ***/
/*** access */
.main__content-title__access {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.section-wrapper__access {
  padding-bottom: 70px; }
  .section-wrapper__access p {
    font-size: 14px;
    color: #004098; }

/* access ***/
/*research*/
.research__description {
  padding: 16px 15px; }
