<nav>
	<ul>
		<li>
			<a href="/dbcls-test/index-en.html">top</a>
		</li>
		<li>
			<a href="/dbcls-test/about-en.html">About</a>
		</li>
		<li>
			<a href="/dbcls-test/research-en.html">Research</a>
		</li>
		<li>
			<a href="/dbcls-test/services-en.html">Services</a>
		</li>
		<li>
			<a href="/dbcls-test/events-en.html">Events</a>
		</li>
		<li>
			<a href="/dbcls-test/member-en.html">Member</a>
		</li>
		<li>
			<a href="#">Access</a>
		</li>
		<li>
			<a href="/dbcls-test/achievement-en.html">Achievement</a>
		</li>
		<li>
			<a href="/dbcls-test/contact.html">Contact</a>
		</li>
	</ul>
</nav>

<hr>