---
---
<!DOCTYPE html>
<html lang="en" data-page-type="post">

<head>
  <meta charset="UTF-8">
  <title>{{page.title}} | DBCLS</title>
  <link rel="stylesheet" href="../../../../style/default.css">
  <link rel="alternate" type="application/rss+xml" title="My Site RSS" href="/feed.xml" />
</head>

<body>
  {% include header.html %}
  <div class="content__wrapper">
    <div class="sub__navigation">
      <h2 class="page-title">News</h2>
      <ul class="sub__navigation-wrapper outline-list-category__wrapper">
        <li class="sub__navigation-title outline-list-category__title on"><a href="/dbcls-test/news.html">ニュース一覧</a></li>
      </ul>
    </div>
    <div class="main__contents">
      <div class="main__content-title__wrapper">
        <h3 class="main__content-title post__title-individual">{{page.title}}</h3>
        <p class="post__date post__date-individual">{{page.date | date: '%Y. %m. %d'}}&nbsp;&nbsp;/</p>
        <div class="post__tags-individual post-tags">
          {% include post_meta.html %}
        </div>
      </div>
      <div class="post__main-text">
        {{content}}
      </div>
      <!-- 		<div class="PageNavigation">
			<div class="pre_post_title">
				<img src="/dbcls-test/img/icon_post_pre.svg" class="icon_post_pagenation" alt="">
				{% if page.previous.previous.url %}
				  {% assign pre_post_title =  page.previous.previous.title | slice: 0, 30 | strip_html%}
				    <a class="prev" href="{{page.previous.previous.url | prepend: site.baseurl}}"> {{pre_post_title}}…</a>
			  {% endif %}			
			</div>
			<div class="next_post_title">
			  {% if page.next.next.url %}
				  {% assign next_post_title =  page.next.next.title | slice: 0, 30 | strip_html%}
				    <a class="next" href="{{page.next.next.url | prepend: site.baseurl}}">{{next_post_title}}…</a>
			  {% endif %}
			  <img src="/dbcls-test/img/icon_post_next.svg" class="icon_post_pagenation" alt="">
			</div>
		</div> -->
    </div>
  </div>
  <script src="../../../../script/default.js"></script>
</body>

</html>